.Rproj.user
.Rhistory
.RData
.Ruserdata
docs
inst/doc

# macOS system files
.DS_Store
inst/.DS_Store

# Generated HTML files and associated folders in inst/examples
inst/examples/*.html
inst/examples/*_files/
inst/examples/output
